<div class="container">
  <br />
  <table border="1" cellspacing="0" cellpadding="0" style="width:40%; float: left; border: 1px #aaa solid; margin-right:20px;">
      <td class="tableCellOne"><div class="defaultBold">member email:</div></td>
      <td class="tableCellOne"><%= @profile.email %></td>
    </tr><tr>
      <td class="tableCellTwo"><div class="defaultBold">real name:</div></td>
      <td class="tableCellTwo"><%= @profile.try(:first_name) %></td>
    </tr><tr>
      <td class="tableCellOne"><div class="defaultBold">location:</div></td>
      <td class="tableCellOne"><%= @profile.try(:location) %></td>
    </tr>
    <tr>
      <td class="tableCellTwo"><div class="defaultBold">favorite genres:</div></td>
      <td class="tableCellTwo"><%= @profile.try(:genres) %></td>
    </tr><tr>
        <td class="tableCellOne"><div class="defaultBold">my website:</div></td>
        <td class="tableCellOne"><a href="<%= @profile.try(:website) %>"><%= @profile.try(:website) %></a></td>
    </tr>
    <tr>
          <td class="tableCellTwo"><div class="defaultBold">member for:</div></td>
          <td class="tableCellTwo"><%= time_ago_in_words @profile.try(:created_at).to_s %></td>
    </tr>
  </table>

  <table border="1" cellspacing="0" cellpadding="0" style="width:50%; border: 1px #aaa solid;">

      <td class="tableCellOne"><div class="defaultBold">member overall ranking:</div></td>

      <td class="tableCellOne">
        <%= @profile.try(:global_ranking) || "Start listening to get a ranking!" %></td>

    </tr>
    <tr>
      <td class="tableCellTwo"><div class="defaultBold">podcasts listened to:</div></td>
      <td class="tableCellTwo">
        <%= @profile.try(:podcasts_listened_to) %></td>
    </tr>
    <tr>
      <td class="tableCellTwo" nowrap><div class="defaultBold">updates posted about podcasts:</div></td>
      <td class="tableCellTwo">
        <%= @profile.try(:update_quantity) %></td>
    </tr>
    <tr>
      <td class="tableCellOne"><div class="defaultBold">chatty % (out of all users):</div></td>
      <td class="tableCellOne">
        <%= @profile.try(:total_communication_percentage) %></td>
    </tr>
    <tr>
      <td class="tableCellTwo"><div class="defaultBold">profile pageviews:</div></td>
      <td class="tableCellTwo"><%= @profile.try(:pageviews) %></td>
    </tr>
  </table>

  <div class="clearfix"></div>

  <br />

  <a href="<%= edit_user_registration_path(current_user) %>">Edit Profile</a>
  <hr />

  <style>
      td { padding: 5px; }
      .profile-page-left-column,
      .profile-page-right-column {
        border: 1px #000 solid;
        height: 200px;
        width: 45%;
        float: left;
        margin: 10px;
      }
      .profile-page-left-column-header,
      .profile-page-right-column-header {
        font-size: 14px;
        border-bottom: 1px #000 solid;
      }
  </style>

  <div class="profile-page-left-column">
    <div class="profile-page-left-column-header">
      Listening History
    </div>
    <div class="profile-page-left-column-body">
    </div>
  </div>

  <div class="profile-page-right-column">
    <div class="profile-page-right-column-header">
      Your Updates
    </div>
    <div class="profile-page-right-column-body">
    </div>
  </div>

</div>


