<div class="container" style="width: 1100px;">

  <div class="profile-page-hero">
    <table border="1" cellspacing="0" cellpadding="0" style="width:49%; float: left; border: 1px #aaa solid; margin-right:20px;">
      <td class="tableCellOne"><div class="defaultBold">member email:</div></td>
      <td class="tableCellOne"><%= @profile.email %></td>
      </tr><tr>
        <td class="tableCellTwo"><div class="defaultBold">full name:</div></td>
        <td class="tableCellTwo"><%= @profile.try(:first_name) %></td>
      </tr><tr>
        <td class="tableCellOne"><div class="defaultBold">location:</div></td>
        <td class="tableCellOne"><%= @profile.try(:location) %></td>
      </tr>
      <tr>
        <td class="tableCellTwo"><div class="defaultBold">favorite genre:</div></td>
        <td class="tableCellTwo"><%= @profile.try(:genres) %></td>
      </tr><tr>
        <td class="tableCellOne"><div class="defaultBold">my website:</div></td>
        <td class="tableCellOne"><a href="<%= @profile.try(:website) %>"><%= @profile.try(:website) %></a></td>
      </tr>
      <tr>
        <td class="tableCellTwo"><div class="defaultBold">member for:</div></td>
        <td class="tableCellTwo"><%= time_ago_in_words @profile.try(:created_at).to_s %></td>
      </tr>
    </table>

    <table border="1" cellspacing="0" cellpadding="0" style="width:49%; border: 1px #aaa solid; float: right;">
      <td class="tableCellOne"><div class="defaultBold">member overall ranking:</div></td>
      <td class="tableCellOne">
        <%= @profile.try(:global_ranking) || "Start listening to get a ranking!" %></td>
      </tr>
      <tr>
        <td class="tableCellTwo"><div class="defaultBold">podcasts listened to:</div></td>
        <td class="tableCellTwo">
          <%= @profile.try(:podcasts_listened_to) %></td>
      </tr>
      <tr>
        <td class="tableCellTwo" nowrap><div class="defaultBold">updates posted about podcasts:</div></td>
        <td class="tableCellTwo">
          <%= @profile.try(:update_quantity) %></td>
      </tr>
      <tr>
        <td class="tableCellOne"><div class="defaultBold">chatty % (out of all users):</div></td>
        <td class="tableCellOne">
          <%= @profile.try(:total_communication_percentage) %></td>
      </tr>
      <tr>
        <td class="tableCellTwo"><div class="defaultBold">profile pageviews:</div></td>
        <td class="tableCellTwo"><%= @profile.try(:pageviews) %></td>
      </tr>
      <tr>
        <td><div class="defaultBold">Want to change these attributes?</div></td>
        <td><a href="<%= edit_user_registration_path(current_user) %>">Edit Profile</a></td>
      </tr>
    </table>

  </div><!-- /profile-page-hero-->

  <br />
  <style>
    td { padding: 5px; }
    .profile-page-left-column,
    .profile-page-right-column {
      border: 1px #000 solid;
      height: 200px;
      margin: 10px;
    }
    .profile-page-left-column { float: left;width: 48%;}
    .profile-page-right-column { float: right; width: 48%;}
    .profile-page-left-column-header,
    .profile-page-right-column-header {
      font-size: 14px;
      border-bottom: 1px #000 solid;
    }
  </style>

  <button class="js-tab tab-your-library active" data-activate="1">To Listen</button>
  <button class="js-tab tab-your-listening" data-activate="2">Listening</button>
  <button class="js-tab tab-your-listened" data-activate="3">Listened</button>
  <button class="js-tab tab-your-stats" data-activate="4">Episode Listening History</button>
  <button class="js-tab tab-your-updates hidden" data-activate="5">Your Updates</button>

  <div class="profile-page-full-column">

    <div class="your-library hidden default" data-activate="1">
      <div class="your-library-full-column">
        <% Library.new(@profile).to_listen.each do |row| %>
          <% if row.podcast %>
            <div class="profile-library-podcast">
              <div class="profile-library-podcast-logo">
                <a href="/podcasts/<%= row.podcast.id %>.html"><img class="profile-library-podcast-logo-img" src="<%= row.podcast.try(:logo_url_large) %>" /></a>
              </div>
              <div class="profile-library-podcast-title">
                <h1><%= row.podcast.try(:title) %></h1>
              </div>
              <div class="profile-library-podcast-bio">
                <div class="profile-library-podcast-metadata">
                  <a href="<%= row.podcast.itunes_url %>"><img src="https://www.relay.fm/assets/itunes-e88c3bc2ce67ff2175193a2cd96042b21f22565ff972f9047a8ae818efe57fcc.svg" width="25" /></a>
                  <a href="<%= row.podcast.feed_url %>"><img src="https://www.relay.fm/assets/rss-a175c87e71282833fc278ac688715d8fbe8f96f1c30b26b4353e2accff3631bb.svg" width="25" /></a>
                  <div class="profile-library-podcast-status">
                    <%= row.status %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <%= raw row.podcast.try(:bio) %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="your-listening hidden" data-activate="2">
      <div class="your-library-full-column">
        <% Library.new(@profile).listening.each do |row| %>
          <% if row.podcast %>
            <div class="profile-library-podcast">
              <div class="profile-library-podcast-logo">
                <a href="/podcasts/<%= row.podcast.id %>.html"><img class="profile-library-podcast-logo-img" src="<%= row.podcast.try(:logo_url_large) %>" /></a>
              </div>
              <div class="profile-library-podcast-title">
                <h1><%= row.podcast.try(:title) %></h1>
              </div>
              <div class="profile-library-podcast-bio">
                <div class="profile-library-podcast-metadata">
                  <a href="<%= row.podcast.itunes_url %>"><img src="https://www.relay.fm/assets/itunes-e88c3bc2ce67ff2175193a2cd96042b21f22565ff972f9047a8ae818efe57fcc.svg" width="25" /></a>
                  <a href="<%= row.podcast.feed_url %>"><img src="https://www.relay.fm/assets/rss-a175c87e71282833fc278ac688715d8fbe8f96f1c30b26b4353e2accff3631bb.svg" width="25" /></a>
                  <div class="profile-library-podcast-status">
                    <%= row.status %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <%= raw row.podcast.try(:bio) %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="your-listening hidden" data-activate="3">
      <div class="your-library-full-column">
        <% Library.new(@profile).listened.each do |row| %>
          <% if row.podcast %>
            <div class="profile-library-podcast">
              <div class="profile-library-podcast-logo">
                <a href="/podcasts/<%= row.podcast.id %>.html"><img class="profile-library-podcast-logo-img" src="<%= row.podcast.try(:logo_url_large) %>" /></a>
              </div>
              <div class="profile-library-podcast-title">
                <h1><%= row.podcast.try(:title) %></h1>
              </div>
              <div class="profile-library-podcast-bio">
                <div class="profile-library-podcast-metadata">
                  <a href="<%= row.podcast.itunes_url %>"><img src="https://www.relay.fm/assets/itunes-e88c3bc2ce67ff2175193a2cd96042b21f22565ff972f9047a8ae818efe57fcc.svg" width="25" /></a>
                  <a href="<%= row.podcast.feed_url %>"><img src="https://www.relay.fm/assets/rss-a175c87e71282833fc278ac688715d8fbe8f96f1c30b26b4353e2accff3631bb.svg" width="25" /></a>
                  <div class="profile-library-podcast-status">
                    <%= row.status %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <%= raw row.podcast.try(:bio) %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="your-stats hidden" data-activate="4">
      <div class="your-library-full-column">
        <div class="profile-page-left-column-body">
          Under Construction....
        </div>
      </div>
    </div>

    <div class="your-updates hidden" data-activate="5">
      <div class="your-library-full-column">
        <div class="profile-page-right-column-body">
          Under Construction....
        </div>
      </div>
    </div>

  </div> <!-- /profile-page-full-column -->

</div>


<br />
<br />
