<div class="container">

  <div class="login-container">
    <strong>This is a temp name that will change for public launch.</strong>
    <br /><br />
    Goodpods is an online directory that connects you with podcasts and their hosts/fans.
    <br /><br />
    <strong>This is early alpha. Mobile is not supported at all for right now. </strong> Current release: v0.0.4
    <br />
    <br />
    You can use Goodpods to:<br />
    <ul>
      <li>Use AI to discover content you never would have found otherwise.</li>
      <li>Create and manage a library of your podcasts in different statuses (to listen, listening, listened, etc).</li>
      <li>Search for podcasts in a never-before-way with lightning quick speed.</li>
      <li>Listen to podcasts with a great user experience.</li>
      <li>[TBD] Connect with friends, and review podcasts publically for others to see.</li>
      <li>[TBD] Become a top reviewer and earn rewards.</li>
    </ul>
  </div>
  <div style="float: left;">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
