<div class="container">

  <div class="login-container">
    Goodpods is an online directory that connects you with podcasts and their hosts/fans.
    <br /><br />
    The site is open to a few people, but not everyone. <br />
    <strong>This is early alpha. Mobile is not supported at all for right now. Current release: v0.0.2</strong>. 
    <br />
    <br />
    You can use Goodpods to:<br />
    <ul>
      <li>Create and manage a library of your podcasts in different statuses (to listen, listened, etc)</li>
      <li>Connect with friends, and review podcasts publically for others to see. Become a top reviewer and earn rewards.</li>
      <li>Use AI to discover unbelievable content you never would have otherwise</li>
    </ul>
  </div>
  <div style="float: left;">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
