<div class="container">
  <div class="left-box-udpates-page" style="float: left;width:60%">
    <h2 class="page-header" style="margin-top: 20px;">All Updates</h2>
    <% @updates.each do |update| %>
      <div class="individual-update" style="width: 100%; text-align: left; margin-left:0 ;">
        <%= update.try(:body) %>
        | By <a href="/profiles/<%= update.try(:user_id) %>"><%= update.try(:email) %></a>
      </div>
    <% end %>
  </div>

  <div class="updates-page-right-column" style="float: right; width: 35%; height: 1000px; margin-left: 10px;margin-top:-20px;">
    <h2 class="page-header">
      Most Reviewed Podcasts
    </h2>
    <% u = @updates.map { |e| e.podcast }.uniq %>
    <% u.each do |update| %>
      <a style="margin:0; text-decoration: none;padding:0;" href="/podcasts/<%= update.try(:id) %>">
        <img src="<%= update.try(:logo_url) %>" />
      </a>
    <% end %>
  </div>
</div>
