<div class="container">
  <div class="left-box-udpates-page" style="float: left;width:60%; margin-top: 20px;padding: 20px; background: #fff;border-radius: 20px;">
    <% @updates.each do |update| %>
      <div class="individual-update" style="width: 100%; text-align: left; margin-left:0 ;margin-right:20px; overflow: hidden;font-size: 14px;">
        <img src="<%= update.podcast.try(:logo_url) %>" style="width: 50px; float: left;"/>
        <div style="float: left; margin-left: 20px;margin-top: 5px;">
          <%= update.try(:body) %><br />
          | By <a href="/profiles/<%= update.try(:user_id) %>"><%= update.try(:email) %></a>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>

  <div class="updates-page-right-column" style="float: right; width: 35%; height: 1000px; margin-left: 10px;margin-top:-20px;">
    <h2 class="page-header">
      Most Talked About Podcasts
    </h2>
    <% u = @updates.map { |e| e.podcast }.uniq %>
    <% u.each do |update| %>
      <a style="margin:0; text-decoration: none;padding:0;" href="/podcasts/<%= update.try(:id) %>">
        <img src="<%= update.try(:logo_url) %>" />
      </a>
    <% end %>
  </div>
</div>
