<div class="container" style="padding-top: 20px; background: #fff; border-radius: 10px;">

  <center>

    <h4 style="text-transform: uppercase;">Search for Podcasts by 
      <span 
        data-toggle="tooltip" 
        data-placement="bottom" 
        style="text-decoration: underline; cursor: pointer; cursor: hand;"
        title="<%= Podcast.pluck(:genre).uniq.join(", ") %>, etc..."
        class="js-tooltip">genre</span>,
      <span 
        data-toggle="tooltip" 
        data-placement="bottom" 
        style="text-decoration: underline; cursor: pointer; cursor: hand;" 
        title="<%= Collection.all.map(&:title).uniq.take(20).join(', ') %>" 
        class="js-tooltip">network</span>
      , or title
    </h4>

    <div class="post-an-update" style="position: relative">
      <textarea name="" id="search"></textarea>
    </div>
  </center>

  <div class="clearfix"></div>

  <br />

  <div class="podcasts-grid">
    <% @podcasts.order("created_at asc").each do |podcast| %>
      <div
        id="<%= podcast.try(:id) %>"
        data-pod-title="<%= podcast.try(:title) %>"
        data-pod-genre="<%= podcast.try(:genre) %>"
        data-pod-collection="<%= podcast.collection.try(:title) %>"
        data-pod-bio="<%= podcast.try(:bio) %>"
        style="display: inline-block; position: relative; float: left;">
        <a href="/podcasts/<%= podcast.id %>.html">
          <img src="<%= podcast.try(:logo_url) %>" width="101"/>
        </a>
      </div>
    <% end %>
  </div>

  <article class="add-to-library hidden" style="top: 109px;">
    <div class="podcast-title"></div>
    <div class="podcast-bio"></div>
    <br />
    <input type="checkbox" name="to-listen" id="to-listen" />
    <label for="to-listen" id="to-listen">
      Add to To Listen...
    </label>
    <br />
    <input type="checkbox" name="listening" id="listening" />
    <label for="listening" id="listening">
      Add to Listening...
    </label>
    <br />
    <input type="checkbox" name="listened" id="listened" />
    <label for="listened" id="listened">
      Add to Listened...
    </label>
  </article>

  <br /><br />
</div>

