<!DOCTYPE html>
<html>
  <head>
    <title>GoodPods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wrapper"> 
      <div class="navbar-inner">
        <p class="navbar-text">
        <% if user_signed_in? %>
          <a class="navbar-link" href="/">Home</a> |
          <a class="navbar-link" href="/discover">Browse</a> | 
          <!--<a class="navbar-link" href="/updates">Reviews</a> |-->
          <a class="navbar-link" href="/collections">Collections</a>
          <!--<a class="navbar-link" href="/profiles/<%= current_user.try(:id) %>">My Stuff</a>-->
          <!--<a class="navbar-link" href="/fiction">Fiction</a> |-->
        <% end %>
      </p>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          <!--<a class="navbar-link" href="/help">How to use this?</a> | -->
          <!-- <a class="navbar-link" href="/labs" style="font-weight: normal;">Labs</a> | -->
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
      </div>
    </div>
    <%= yield %>
    <div class="hidden search">
      <input type="text" name="" id="" value="">
    </div>
  </body>
</html>
